{% extends "base.html" %}
{% block content %}
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        section ul {
            margin: 0;
            list-style-type: "- ";
            padding-left: 1em;
        }

        a {
            text-decoration: none;
        }

        section:first-of-type {
            margin-top: 120px;
        }

        p, li, a {
            color: #15181b;
            line-height: 1.7;
        }

        .row {
            display: flex;
            flex-direction: row;
            max-width: 900px;
            margin: 1em auto;
        }

        .content-item {
            display: flex;
            flex-direction: column;
            text-align: justify;
        }

        .content-item p {
            font-size: 1em;
            line-height: 1.6;
        }

        .content-item h2, .content-item h3 {
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .content-item h3 {
            margin: 0;
            font-weight: 300;
            font-size: 1.6em;
        }

        .content-item img {
            width: 100%;
            height: auto;
            margin-bottom: 1em;
        }

        .btn-more {
            padding: 8px;
        }

        .more-container {
            display: flex;
            justify-content: end;
        }

        .ml-sm {
            padding-left: 4px;
        }

        .avatar {
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            margin-right: 16px;
            padding: 8px;
            color: #efefef;
            background: #4fa8ff;
        }

        .title-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        @media only screen and (max-width: 768px) {
            .row {
                max-width: 720px;
                flex-direction: column;
                align-items: center;
            }
        }

        @media only screen and (max-width: 992px) {
            .row {
                max-width: 960px;
            }

            .content-item {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
        }
    </style>

    <section>
        {% for post in post_list %}
            <div class="row">
                <div class="content-item">
                    <div class="title-container">
                        <span class="avatar">MWM</span>
                        <div>
                            <h3>{{ post.title }}</h3>
                            <span class="caption">{{ post.created_on }}</span>
                        </div>
                    </div>
                    <p>{{ post.content | striptags | truncatewords:40}}</p>
                    <div class="more-container">
                        <a class="btn btn-more btn-secondary" href="{% url 'news_detail' post.slug %}">Czytaj więcej
                            <i class="ml-sm bi bi-arrow-right"></i></a>
                    </div>
                    <hr/>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock content %}